.nav-logo {
    width: 30px;
    height: 30px;
    margin-right: 0.8em;
    border-radius: 50%;
}

.navbar-nav div {
    user-select: none;
    cursor: pointer;
}

.navbar-nav a {
    text-decoration: none;
}